@model User 

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="main">
        <div class="submit-form">
            <form method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" id="email" placeholder="E-mail" asp-for="Email">
                <input type="text" name="name" id="name" placeholder="Ваше имя" onkeypress="validate(event);" asp-for="Name">
                <button>Стать разработчиком</button>
            </form>
        </div>
	</div>
</div>
