@model User

<div class="container">
    <div class="main-personal">
        <div class="submit-form">
            <span>Я, @Model.Name (@Model.Email), стал разработчиком ASP .NET</span>
        </div>
    </div>
</div>